# Standard python
__pycache__
.ipynb_checkpoints
.pytest_cache

# DLA Data Directories
/app/data/s1_*
/app/data/s2_*
/app/data/s3_*
/app/data/s4_*
/app/model_weights

/.idea/
/tmp/
__pycache__
.ipynb_checkpoints!/app/test_extraction/output/
/app/text_extraction/output_json_text/
/app/text_extraction/output/
/app/text_extraction/pdf_documents/
